%footer.hidden-print
  .container
    %ul.footer-links
      %li
        &copy; 2007 - 2014
    %ul.footer-links
      %li
        %a{:href => "#"}= "Copyright"
      %li= "·"
      %li
        %a{:href => "#"}= "Licence"
      %li= "·"
      %li
        %a{:href => "#"}= "Inzerce"
      %li= "·"
      %li
        %a{:href => "#"}= "Kontakt"

%script{:src => "http://code.jquery.com/jquery-2.1.0.min.js"}
%script{:src => "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
%script{:src => "min/script.min.js"}