%header.navbar.navbar-static-top#top{:role => "navigation"}
  .container
    .navbar-header.no-touch
      %button.navbar-toggle{:type => "button", :"data-toggle" =>"collapse", "data-target" => ".menu-navbar-collapse"}
        %span.sr-only= "Zobrazit navigaci"
        - (0...3).each do |i|
          %span.icon-bar
      .hi-icon-wrap.hi-icon-effect-5.hi-icon-effect-5a
        <a href="index.html" class="hi-icon hi-icon-earth navbar-brand" data-toggle="tooltip" data-placement="bottom" title="jazyky online / angličtina">jazyky-online</a>

    %nav.collapse.navbar-collapse.menu-navbar-collapse{:role => "navigation"}
      %ul.nav.navbar-nav
        %li.dropdown
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gramatika</a>
          %ul.dropdown-menu
            <li><a href="gramatika.html">Přehled gramatiky</a></li>
            <li><a href="frazova-slovesa.html">Frázová slovesa</a></li>
            <li><a href="nepravidelna-slovesa.html">Nepravidelná slovesa</a></li>
        %li.dropdown
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Slovíčka</a>
          %ul.dropdown-menu
            <li><a href="uceni-slovicek.html">Učení se</a></li>
            <li><a href="procvicovani-slovicek.html">Procvičování</a></li>
            <li><a href="slovicka.html">Přehled slovíček</a></li>
        %li.dropdown
          %a{:href => "fraze.html"}= "Fráze"
        %li
          %a{:href => "http://jazyky-online.info/deti/index.php"}= "Pro děti"

      %ul.nav.navbar-nav.navbar-right
        %li
          %span.ucim-se
            %span.ucim-se-label.sr-hidden
              Právě se učím
            .btn-group
              %button.btn.btn-primary.dropdown-toggle{:type => "button", :"data-toggle" => "dropdown"}
                angličtinu
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:href => "#"}= "angličtinu"
                %li
                  %a{:href => "#"}= "němčinu"
                %li
                  %a{:href => "#"}= "francouzštinu"
                %li
                  %a{:href => "#"}= "španělštinu"
                %li
                  %a{:href => "#"}= "ruštinu"
                %li
                  %a{:href => "#"}= "čínštinu"
                %li
                  %a{:href => "#"}= "japonštinu"

- if page_type == 'index'
  .jumbotron
    .container
      %h1
        #{h1_big}
      %p
        #{h1_small}
- else
  .jumbotron.small
    .container
      %h1
        #{h1_big}<small>#{h1_small}</small>

%div{:class => "modal fade", :id => "hlaska_po_blokaci", :tabindex => "-1", :role => "dialog", :"aria-labelledby" => "myModalLabel", :"aria-hidden" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Nemáš rád reklamy?</h4>
      .modal-body
        %p
          Škoda, že tato stránka by bez reklam nefungovala a nemohla by tak pomáhat ostatním učit se jazyky. To by nás mrzelo :(
        %p
          Prosím na této stránce AdBlock či jiné programy blokující reklamu nepoužívejte.
      .modal-footer
        <button type="button" class="btn btn-primary" data-dismiss="modal">Budu se řídit kodexem cti</button>